#Banner{
    width: 100%;
    height: 75px;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#LogoBanner{
    width: 100%;
    height: 100%;
}

#BannerLinkImg{
    width: 95%;
    height: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


#Links{
    position: absolute;
    width: 56px;
    height: 20px;
    top: 27px;
    right: 10px;
}
#ListaLinks{
    position: absolute;
    list-style: none;

}
.ItemLink{
    display: block;
    position: relative;
    float: left;
    
}
.Link{
    width: 20px;
    height: 20px;
    margin-right: 8px;
}
.LinkImagen{
    width: 20px;
    filter:grayscale(1)
}

.Link:hover img{
    filter:grayscale(0)
}
