#BarraNavegacion{
    display: block;
    font-family: Arial;
    font-size: 15px;
    overflow-y: visible;
    background: -webkit-linear-gradient(top, #585858, #3d3d3d);
}

#Menu{
    display: none;
}

#MenuChico{
    display: block;
}

#ListaBN{
    width: 93%;
    height: 12px;
    margin: 4% 3%;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 12px;
}
#ListaBN:focus{ outline: none; }

.OpcionBN{
    color: black;
    background-color: white;
    border-radius: 5px;
}
.OpcionBN:hover{
    color: white;
    background-color: black;

}